.register {
  display: flex;
  justify-content: space-around;
  margin: 4rem 0;
}

.register-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  cursor: pointer;
}

.register-content div {
  display: flex;
}

.register h2 {
  color: #5712A6;
  font-size: 2rem;
  line-height: 1.3;
}

.arrow {
  max-height: 3rem;
  height: auto;
  width: auto;
  margin-left: 3rem;
}

.register-line {
  max-width: 5.5rem;
  width: auto;
  margin-top: 2rem;
}
